trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - .devcontainer/*
      - files/*

pool:
  vmImage: 'ubuntu-latest'

variables:
  dockerfilePath: '.devcontainer/Dockerfile'
  imageRepository: 'devcontainer'
  containerRegistry: '<your-acr-name>.azurecr.io'
  azureServiceConnection: '<your-service-connection-name>'
  tag: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: 'Build and Push Docker Image'
  jobs:
  - job: BuildAndPush
    displayName: 'Build and Push to ACR'
    steps:
    - task: Docker@2
      displayName: 'Login to Azure Container Registry'
      inputs:
        command: 'login'
        containerRegistry: '$(azureServiceConnection)'

    - task: Docker@2
      displayName: 'Build Docker Image'
      inputs:
        command: 'build'
        repository: '$(imageRepository)'
        dockerfile: '$(dockerfilePath)'
        buildContext: '.'
        tags: |
          $(tag)
          latest
        arguments: |
          --build-arg UBUNTU_VERSION=22.04
          --target final

    - task: Docker@2
      displayName: 'Push Docker Image to ACR'
      inputs:
        command: 'push'
        repository: '$(imageRepository)'
        containerRegistry: '$(azureServiceConnection)'
        tags: |
          $(tag)
          latest

    - task: Docker@2
      displayName: 'Logout from Azure Container Registry'
      inputs:
        command: 'logout'
        containerRegistry: '$(azureServiceConnection)'
